services:
  db:
    image: roomie-database>latest

    restart: always 
    
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    
    volumes:
      - db_data:/var/lib/postgresql/data
      
    ports:
      - "${DB_PORT}:5432"

volumes:
  db_data: